.header {
    background-color: #ffffff;
    padding: 96px 0 77px;
 }
.header-title {
    font-family: Inter, sans-serif;
    font-weight: 50px;
    font-size: 50px;
    padding-bottom: NONE;
    line-height: 64px;
    letter-spacing: 0%;
}
