/* Стилизация кнопки */
.button {
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Roboto;
  line-height: 100%;
  font-weight: 500;
  padding: 15px 15px 14px;
 }
.button_primary {
  background-color: var(--primary);
  color: var(--color);
  border: 1px solid var(--primary);
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
 } 
.button_secondary {
 background-color: var(--secondary);
 color: var(--color);
  border: var(--border);
 } 
 .button_alternate {
  color: Gray 4;
  background-color: var(--alternate);
  border-width: 1px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
 }
.button:hover {
  filter: brightness(80%);
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
} 
  