/* Стилизация аккордеона */
.accordion {
  color: Black;
  font: Inter;  
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  Width: 730px;
  Height: 72px;
  Top: 227px;
  Left: 554px;
  Border-radius: 8px;
  Border: 1px; 
}
.accordion__section {
 background-color: Gray 3;
}
.accordion__content {
  color: Gray 4;
  font: Inter;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0%;  
}
.accordion__item {
  color: Black;
  font: Inter;  
  font-size: 16px;
  margin-bottom: 8px;
 }
 .accordion__item:last-child {
  margin-bottom: 0px;
 }
.accordion__summary {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 8px;
}
details[open] > summary { 
  background-color: #e0e0e0;
  border-bottom: none;
}
summary {
  list-style: none;
}